.home {
  margin-top: 2vh;
  width: 95%;
  min-height: 89vh;
  padding-bottom: 1vh;
  border-radius: 2.4mm;
}

.slideshow {
  width: 100%;
  height: 89vh;
  border-radius: 2.4mm;
}

.slidePage {
  position: relative;
  width: 100%;
  height: 100%;
}

.slideshow-loading {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circ {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slideImg {
  width: 100%;
  height: 100%;
  border-radius: 2.4mm;
  -o-object-fit: cover;
     object-fit: cover;
}

.slideCaption {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: auto;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px 10px;
  transform: translate(-50%, 80%);
  color: white;
  background-color: #C74F80;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 2.4mm;
  font-size: 25px;
  font-weight: 700;
}
.slideCaption:hover {
  color: white;
  font-weight: bold;
  box-shadow: 0 0 20px #C74F80;
  background-color: #C74F80;
}

.info {
  position: fixed;
  right: 3%;
  bottom: 5%;
  z-index: 1000;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C74F80;
  animation: 2s AnimeCircle linear;
  border: none;
  outline: none;
}

.modal-box {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: -moz-max-content;
  height: max-content;
  padding: 10px 15px;
  background-color: #C74F80;
  border-radius: 2.4mm;
  animation: 0.4s ModalAnime linear;
}

.modal-title-main {
  width: 100%;
  font-size: xx-large;
  font-family: "Pinyon Script", cursive;
  font-weight: 700;
  color: white;
  text-align: center;
}

.modal-title {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: large;
  font-weight: 600;
}

.modal-soc-box {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-soc {
  cursor: pointer;
  scale: 1.1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.1s;
}
.modal-soc:hover {
  scale: 1.17;
  filter: drop-shadow(0px 0px 2px white);
}

@keyframes ModalAnime {
  0% {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes AnimeCircle {
  0% {
    background-color: #C74F80;
    padding: 10px;
  }
  25% {
    background-color: rgba(199, 79, 127, 0.8);
    padding: 7.5px;
  }
  50% {
    background-color: rgba(199, 79, 127, 0.5764705882);
    padding: 5px;
  }
  75% {
    background-color: rgba(199, 79, 127, 0.219);
    padding: 2.5px;
  }
  100% {
    background-color: rgba(199, 79, 127, 0);
    padding: 0;
  }
}
@keyframes AnimeCircle2 {
  0% {
    border: 4px solid #C74F80;
    padding: 10px;
  }
  25% {
    border: 4px solid rgba(199, 79, 127, 0.8);
    padding: 7.5px;
  }
  50% {
    border: 4px solid rgba(199, 79, 127, 0.5764705882);
    padding: 5px;
  }
  75% {
    border: 4px solid rgba(199, 79, 127, 0.219);
    padding: 2.5px;
  }
  100% {
    border: 4px solid rgba(199, 79, 127, 0);
    padding: 0;
  }
}
.errorPage {
  width: 100vw;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 35px;
}

.mainPage {
  border: none;
  background: none;
  border-bottom: 2px solid white;
  font-weight: bold;
  font-size: 40px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}
.mainPage:hover {
  background: white;
  border-radius: 2.4mm;
  box-shadow: 0 0 20px white;
  color: #c95080;
}

.badge {
  position: fixed;
  right: 3%;
  bottom: 15%;
  z-index: 1100;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  cursor: pointer;
  animation: 1.5s AnimeCircle2 infinite;
}

.badge-empty {
  width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.empty-text {
  font-size: 35px;
  color: white;
  font-weight: bold;
}

.empty-link {
  border: 2px solid white;
  font-size: 37px;
  color: white;
  border-radius: 2.4mm;
  font-weight: bold;
  padding: 5px 20px;
  transition: 0.2s;
  cursor: pointer;
}
.empty-link:hover {
  background-color: white;
  color: #c95080;
}

.badge-page {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.badge-box {
  width: 85%;
  height: 300px;
  color: #292929;
  font-size: 25px;
  border-radius: 2.4mm;
  box-shadow: 0 0 10px rgb(201, 160, 160);
  position: relative;
}

.latest-box-main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 2.4mm;
  padding: 10px 0;
}

.latestText {
  color: #292929;
  font-size: xx-large;
  font-weight: 500;
}

.limitedBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 300px;
}

.latest {
  width: 15%;
  height: 85%;
  transition: 0.2s;
  cursor: pointer;
}
.latest:hover {
  scale: 1.07;
}

.limitedImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2.4mm;
}

.create {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 270px;
  background-image: url("../../Photoes/testslide/create2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2.4mm;
}

.create-title {
  width: 100%;
  height: 100%;
  font-size: 80px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #ff3185;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}
.create-title:hover {
  background-color: rgba(255, 255, 255, 0.42);
}

@media screen and (max-width: 1200px) {
  .badge-page {
    width: 45vw;
  }
  .latestText {
    font-size: x-large;
    font-weight: 500;
  }
  .limitedBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
  }
  .latest {
    width: 20%;
    height: 85%;
  }
  .create-title {
    font-size: 70px;
  }
}
@media screen and (max-width: 1000px) {
  .badge-page {
    width: 85vw;
    min-height: 91vh;
    grid-template-columns: 70%;
    gap: 50px;
  }
  .badge-box {
    width: 85%;
    height: 300px;
    font-size: 22px;
  }
  .badge-page {
    width: 50vw;
  }
  .latestText {
    font-size: x-large;
    font-weight: 500;
  }
  .limitedBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 300px;
  }
  .latest {
    width: 25%;
    height: 85%;
  }
  .modal-box {
    width: 70vw;
    height: -moz-max-content;
    height: max-content;
    padding: 10px 15px;
  }
  .create-title {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .slideshow {
    height: 80vh;
  }
  .slideCaption {
    font-size: 20px;
  }
  .badge-page {
    width: 85vw;
    min-height: 91vh;
    grid-template-columns: 80%;
    gap: 50px;
  }
  .badge-box {
    width: 90%;
    height: 250px;
    font-size: 22px;
  }
  .badge-page {
    width: 60vw;
  }
  .latest-box-main {
    margin-top: 40px;
  }
  .limitedBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 200px;
  }
  .latest {
    width: 25%;
    height: 85%;
  }
  .modal-box {
    width: 80vw;
    height: -moz-max-content;
    height: max-content;
    padding: 10px 15px;
  }
  .modal-title {
    font-size: medium;
  }
  .create {
    height: 170px;
  }
  .create-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 550px) {
  .slideshow {
    height: 50vh;
  }
  .slideCaption {
    width: 70vw;
    font-size: 17px;
  }
  .badge-box {
    width: 90%;
    height: 200px;
    font-size: 17px;
  }
  .empty-link {
    font-size: 34px;
  }
  .empty-text {
    font-size: 31px;
  }
  .badge-page {
    width: 80vw;
  }
  .latestText {
    padding-bottom: 30px;
  }
  .limitedBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    gap: 50px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .latest {
    width: 70%;
    height: 50%;
  }
  .modal-box {
    width: 80vw;
    height: -moz-max-content;
    height: max-content;
    padding: 10px 5px;
  }
  .modal-title {
    font-size: 15px;
  }
  .create-title {
    font-size: 30px;
  }
}
@media screen and (max-width: 425px) {
  .slideCaption {
    width: 90%;
    font-size: 15px;
  }
  .limitedBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    gap: 50px;
    height: -moz-fit-content;
    height: fit-content;
  }
}/*# sourceMappingURL=home.css.map */